.meganav .umb-node-preview-add {
    max-width: 100%;
    border-radius: 3px;
}

.meganav .angular-ui-tree-placeholder,
.meganav .meganav-placeholder {
    border: 1px dashed #bbbabf;
    border-radius: 3px;
    box-sizing: border-box;
}

.meganav .caret--right {
    transform: rotate(-90deg);
}

.meganav-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: minmax(160px, auto);
    grid-gap: 20px;
}

.meganav-card {
    position: relative;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
    cursor: pointer;
}

.meganav-card-icon {
    font-size: 42px;
    background-color: #f9f9fa;
    padding: 40px;
}

.meganav-card-title {
    font-weight: 700;
    font-size: 14px;
    padding: 10px 16px;
    color: #1b264f;
}

.meganav-item-wrapper {
    position: relative;
    width: 100%;
}

.meganav-item-container {
    display: block;
    margin-bottom: 4px;
    margin-top: 4px;
    border: 1px solid #e9e9eb;
    border-radius: 3px;
    transition: border-color .12s, background-color .12s;
}

.meganav-item {
    font-weight: 400;
    background-color: #fff;
    width: 100%;
    min-height: 48px;
    color: #1b264f;
    padding-left: 10px;
    text-align: left;
    user-select: none;
    box-sizing: border-box;
}

.meganav-actions {
    background-color: hsla(0, 0%, 100%, .96);
    position: absolute;
    top: 12px;
    right: 12px;
    padding: 0 5px;
    border-radius: 16px;
    opacity: 0;
    transition: opacity .12s;
    z-index: 999999999;
}

.meganav-actions > * {
    font-size: 18px;
    display: inline-block;
    position: relative;
    color: #1b264f;
    padding: 5px;
}

.meganav-actions > *:hover {
    color: #2152a3;
}

.meganav-card:focus .meganav-actions,
.meganav-card:hover .meganav-actions,
.meganav-item-wrapper:focus > meganav-actions > .meganav-actions,
.meganav-item-wrapper:hover > meganav-actions > .meganav-actions {
    opacity: 1;
}